.content-wrapper{style: "min-height: 1604.44px;"}
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1 Products
        - if can_access?(:products, :new)
          .col-sm-6.d-flex.justify-content-end.align-items-center
            %a.btn.btn-sm.btn-primary{ href: new_company_product_path, data: { toggle: 'tooltip', placement: 'left '}, title: 'New Product' }
              %i.fa.fa-plus
              Create
  %section.content
    .card
      .card-body
        - if @products.present?
          %table.table.table-striped.projects
            %thead
              %tr
                %th Name
                %th Tax Rate (%)
                %th Price
                - if can_access?(:products, :edit) || can_access?(:products, :destroy) || can_access?(:products, :show)
                  %th.text-right{ width: '20%' } Actions
            %tbody
              - @products.each do |product|
                %tr
                  %td= product.name
                  %td= product.tax_rate
                  %td= product.price
                  - if can_access?(:products, :edit) || can_access?(:products, :destroy) || can_access?(:products, :show)
                    %td.project-actions.text-right
                      - if can_access?(:products, :show)
                        = link_to company_product_path(product.id), class: 'btn btn-primary btn-sm mx-1', title: 'Show' do
                          %i.fas.fa-folder
                          Show
                      - if can_access?(:products, :edit)
                        = link_to edit_company_product_path(product.id), class: 'btn btn-info btn-sm mx-1', title: 'Edit' do
                          %i.fas.fa-pencil-alt
                          Edit
                      - if can_access?(:products, :destroy)
                        = link_to company_product_path(product.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger',
                          title: 'Delete' do
                          %i.fas.fa-trash
                          Delete
        - else
          %center
            %h6
              No Product Found.
