.content-wrapper{style: "min-height: 1604.44px;"}
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1 Branches
        - if can_access?(:branches, :new)
          .col-sm-6.d-flex.justify-content-end.align-items-center
            %a.btn.btn-sm.btn-primary{ href: new_company_branch_path, data: { toggle: 'tooltip', placement: 'left '}, title: 'New Branch' }
              %i.fa.fa-plus
              Create
  %section.content
    .card
      .card-body
        - if @branches.present?
          %table.table.table-striped.projects
            %thead
              %tr
                %th Name
                %th Code
                %th Email
                %th Phone
                %th Address
                - if can_access?(:customers, :edit) || can_access?(:customers, :destroy)
                  %th.text-right{ width: '20%' } Actions
            %tbody
              - @branches.each do |branch|
                %tr
                  %td= branch.name
                  %td= branch.code
                  %td= branch.email
                  %td= branch.phone
                  %td= branch.address
                  - if can_access?(:branches, :edit) || can_access?(:branches, :destroy)
                    %td.project-actions.text-right
                      - if can_access?(:branches, :edit)
                        = link_to edit_company_branch_path(branch.id), class: 'btn btn-info btn-sm mx-1', title: 'Edit' do
                          %i.fas.fa-pencil-alt
                          Edit
                      - if can_access?(:branches, :destroy)
                        = link_to company_branch_path(branch.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger',
                          title: 'Delete' do
                          %i.fas.fa-trash
                          Delete
        - else
          %center
            %h6
              No Branch Found.
