%section.content
  .container-fluid
    .row
      .col-md-12
        .card.card-primary
          .card-header
            %h3.card-title Basic Details
          = form_with model: [:company, branch_stock], local: true, html: { multipart: true }, class: 'form' do |f|
            .card-body
              .row
                %div{ class: "col-md-6 form-group #{ error?(branch_stock.errors, :name) }" }
                  = f.label :product_id, class: 'col-form-label' do
                    Product
                  = f.select :product_id, options_for_select(current_company.products.map { |product| [product.name, product.id]},  f.object.product_id), { include_blank: 'Select Product' }, class: 'form-control select2-field', required: true
                  = print_error(branch_stock.errors, :product)
                %div{ class: "col-md-6 form-group #{ error?(branch_stock.errors, :name) }" }
                  = f.label :name, class: 'col-form-label' do
                    Quantity
                  = f.number_field :quantity, class: 'form-control', autocomplete: 'off', placeholder: 'Quantity'
                  = print_error(branch_stock.errors, :quantity)
              .row
                .col-12.mb-2
                  %a.btn.btn-secondary{href: company_branch_stocks_path} Cancel
                  = f.submit "Submit", class: "btn btn-primary float-right"
