.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file
        Branch Stocks
    - if can_access?(:branch_stocks, :new)
      .col-md-5.mt-2.mt-md-0.text-right
        %a.btn.btn-sm.btn-primary{ href: new_company_branch_stock_path, data: { toggle: 'tooltip',
        placement: 'left '}, title: 'New Branch Stock' }
          %i.fa.fa-plus

  .row
    .col-12.grid-margin
      .card
        .card-body
          - if @branch_stocks.present?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr.table-primary
                    %th Branch
                    %th Product
                    %th Quantity
                    %th.text-right{ width: '10%','data-orderable': 'false' } Actions
                %tbody
                  - @branch_stocks.each do |branch_stock|
                    %tr
                      %td= branch_stock.branch.name
                      %td= branch_stock.product.name
                      %td= branch_stock.quantity
                      %td.text-right
                        = link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_company_branch_stock_path(branch_stock.id), { class: 'btn-sm btn-warning px-2 py-1', 'data-toggle': 'tooltip', title: 'Edit' }
                        = link_to raw("<i class='fa fa-trash-o'></i>"), company_branch_stock_path(branch_stock.id),
                        { class: 'btn-sm btn-danger px-2 py-1', 'data-toggle': 'tooltip', 'data-confirm': 'Are you sure?', title: 'Delete', method: :delete }
          - else
            %center
              %h6
                No Branch Stock Found.
