.content-wrapper{style: "min-height: 1604.44px;"}
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1 Invoices
        - if can_access?(:invoices, :new)
          .col-sm-6.d-flex.justify-content-end.align-items-center
            %a.btn.btn-sm.btn-primary{ href: new_company_invoice_path, data: { toggle: 'tooltip', placement: 'left '}, title: 'New Invoice' }
              %i.fa.fa-plus
              Create
  %section.content
    .card
      .card-body
        - if @invoices.present?
          %table.table.table-striped.projects
            %thead
              %tr
                %th Invoice Number
                %th Date
                %th Due Date
                %th Status
                %th Note
                - if can_access?(:invoices, :edit) || can_access?(:invoices, :destroy)
                  %th.text-right{ width: '20%' } Actions
            %tbody
              - @invoices.each do |invoice|
                %tr
                  %td= invoice.invoice_number
                  %td= invoice.date
                  %td= invoice.due_date
                  %td= invoice.status
                  %td= invoice.note

                  - if can_access?(:invoices, :edit) || can_access?(:invoices, :destroy)
                    %td.project-actions.text-right
                      = link_to download_pdf_company_invoice_path(invoice, format: :pdf), class: 'btn btn-secondary btn-sm mx-1', title: 'Pdf' do
                        %i.fas.fa-file-pdf
                        Pdf
                      - if can_access?(:invoices, :edit)
                        = link_to edit_company_invoice_path(invoice.id), class: 'btn btn-info btn-sm mx-1', title: 'Edit' do
                          %i.fas.fa-pencil-alt
                          Edit
                      - if can_access?(:invoices, :destroy)
                        = link_to company_invoice_path(invoice.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger',
                          title: 'Delete' do
                          %i.fas.fa-trash
                          Delete
        - else
          %center
            %h6
              No Invoice Found.

