.content-wrapper{style: "min-height: 1604.44px;"}
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1 Customers
        - if can_access?(:customers, :new)
          .col-sm-6.d-flex.justify-content-end.align-items-center
            %a.btn.btn-sm.btn-primary{ href: new_company_customer_path, data: { toggle: 'tooltip', placement: 'left '}, title: 'New Customer' }
              %i.fa.fa-plus
              Create
  %section.content
    .card
      .card-body
        - if @customers.present?
          %table.table.table-striped.projects
            %thead
              %tr
                %th Name
                %th Email
                %th Phone
                %th Address
                - if can_access?(:customers, :edit) || can_access?(:customers, :destroy)
                  %th.text-right{ width: '20%' } Actions
            %tbody
              - @customers.each do |customer|
                %tr
                  %td= customer.name
                  %td= customer.email
                  %td= customer.phone
                  %td= customer.address
                  - if can_access?(:customers, :edit) || can_access?(:customers, :destroy)
                    %td.project-actions.text-right
                      - if can_access?(:customers, :edit)
                        = link_to edit_company_customer_path(customer.id), class: 'btn btn-info btn-sm mx-1', title: 'Edit' do
                          %i.fas.fa-pencil-alt
                          Edit
                      - if can_access?(:customers, :destroy)
                        = link_to company_customer_path(customer.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger',
                          title: 'Delete' do
                          %i.fas.fa-trash
                          Delete
        - else
          %center
            %h6
              No Customer Found.
