!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %title School Management system

    %link{href: image_url('logo_64.png'), rel: 'shortcut icon', type: 'image/png'}
    %link{href: image_url('logo_64.png'), rel: 'apple-touch-icon'}
    %link{href: image_url('logo_152.png'), rel: 'apple-touch-icon', sizes: '152x152'}
    %link{href: image_url('logo_167.png'), rel: 'apple-touch-icon', sizes: '167x167'}
    %link{href: image_url('logo_180.png'), rel: 'apple-touch-icon', sizes: '180x180'}

    = csrf_meta_tags
    = csp_meta_tag

    = yield :css_top_file
    = stylesheet_link_tag 'new_theme', 'data-turbolinks-track': 'reload', media: 'all'
    = yield :css_file
    = yield :css_code

    = javascript_include_tag 'new_theme', 'data-turbolinks-track': 'reload'
    = yield :js_file
    = yield :js_code

  %body.layout-fixed.sidebar-expand-lg.bg-body-tertiary.sidebar-open
    .app-wrapper
      = render 'layouts/new_theme/header'
      = render 'layouts/new_theme/sidebar'


    = render 'common/notification'

- content_for :js_code do
  :javascript
    $(document).ready(function () {
      var SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
      var Default = {
        scrollbarTheme: 'os-theme-light',
        scrollbarAutoHide: 'leave',
        scrollbarClickScroll: true
      };

      var $sidebarWrapper = $(SELECTOR_SIDEBAR_WRAPPER);

      // Disable OverlayScrollbars on mobile devices to prevent touch interference
      var isMobile = $(window).width() <= 992;

      if ($sidebarWrapper.length && typeof OverlayScrollbarsGlobal !== 'undefined' && OverlayScrollbarsGlobal.OverlayScrollbars && !isMobile) {
        OverlayScrollbarsGlobal.OverlayScrollbars($sidebarWrapper[0], {
          scrollbars: {
            theme: Default.scrollbarTheme,
            autoHide: Default.scrollbarAutoHide,
            clickScroll: Default.scrollbarClickScroll
          }
        });
      }
    });
